<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-..." crossorigin="anonymous"/>


<nav class="navbar navbar-expand-lg navbar-dark bg-gradient-dark z-index-3 py-3">
  <div class="container">
    <a class="navbar-brand text-white" href="/" rel="tooltip" title="Designed and Coded by Creative Tim"
       data-placement="bottom" target="_blank">
      Task Manager
    </a>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    {% if request.user.is_authenticated %}
      <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
      <ul class="navbar-nav navbar-nav-hover mx-auto">
        <li class="nav-item dropdown dropdown-hover mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Tasks
            <img src="https://appsrv1-147a1.kxcdn.com/material-kit2/img/down-arrow-white.svg" alt="down-arrow"
                 class="arrow ms-1">
          </a>
          <ul class="dropdown-menu px-2 py-3" aria-labelledby="navbarDropdownPages">
            <li><a class="dropdown-item border-radius-md" href={% url 'tasks:mytasks-list' %}>My tasks</a></li>
            <li><a class="dropdown-item border-radius-md" href={% url 'tasks:tasks-form' %}>Create tasks</a></li>
            <li><a class="dropdown-item border-radius-md" href={% url 'tasks:taskstype-list' %}>Task types</a></li>
            <li><a class="dropdown-item border-radius-md" href="{% url 'tasks:tasks-list' %}">All tasks</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown dropdown-hover mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Account
            <img src="https://appsrv1-147a1.kxcdn.com/material-kit2/img/down-arrow-white.svg" alt="down-arrow"
                 class="arrow ms-1">
          </a>
          <ul class="dropdown-menu px-2 py-3" aria-labelledby="navbarDropdownAccount">
            <li><a class="dropdown-item border-radius-md" href="{% url 'tasks:worker-detail' pk=user.id %}">My
              profile</a></li>
            <li><a class="dropdown-item border-radius-md" href="{% url 'tasks:workers-list' %}">All users</a></li>
            <li><a class="dropdown-item border-radius-md" href="{% url 'tasks:position-form' %}">Create position</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown dropdown-hover mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Team
            <img src="https://appsrv1-147a1.kxcdn.com/material-kit2/img/down-arrow-white.svg" alt="down-arrow"
                 class="arrow ms-1">
          </a>
          <ul class="dropdown-menu px-2 py-3" aria-labelledby="navbarDropdownBlocks">
            <li><a class="dropdown-item border-radius-md" href="{% url 'tasks:team-form' %}">Create team</a></li>
            <li><a class="dropdown-item border-radius-md" href="{% url 'tasks:teams-list' %}">My teams</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown dropdown-hover mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Projects
            <img src="https://appsrv1-147a1.kxcdn.com/material-kit2/img/down-arrow-white.svg" alt="down-arrow"
                 class="arrow ms-1">
          </a>
          <ul class="dropdown-menu px-2 py-3" aria-labelledby="navbarDropdownDocs">
            <li><a class="dropdown-item border-radius-md" href="{% url 'tasks:projects-list' %}">My projects</a></li>
            <li><a class="dropdown-item border-radius-md" href="{% url 'tasks:projects-create' %}">Create project</a></li>
          </ul>
        </li>
      </ul>
    {% endif %}

    <ul class="navbar-nav ms-auto">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'logout-confirm' %}" class="btn btn-sm bg-gradient-danger mb-0 me-1">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a href="{% url 'login' %}" class="btn btn-sm bg-gradient-info mb-0 me-1">Login</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a href="https://github.com/Fedot0v/ITCompanyTaskManager" class="btn btn-sm bg-gradient-primary mb-0 me-1"
           role="button">
          <i class="fab fa-github"></i> GitHub
        </a>
      </li>
    </ul>
    </div>
  </div>
</nav>
<script>
    // Отримуємо елемент навігаційного бару
    const navbar = document.querySelector('.navbar');

    // Отримуємо висоту навігаційного бару
    const navbarHeight = navbar.offsetHeight;

    // Функція, яка виконується при прокручуванні сторінки
    function handleScroll() {
        const scrollY = window.scrollY;

        // Додаємо або видаляємо клас відповідно до прокрутки
        if (scrollY > navbarHeight) {
            navbar.classList.add('fixed-top');
        } else {
            navbar.classList.remove('fixed-top');
        }
    }

    // Слухаємо подію прокручування сторінки
    window.addEventListener('scroll', handleScroll);

</script>