{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Project Detail{% endblock %}

{% block body_class %}project-detail{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
  <header>
    <div class="page-header-project-detail">
      <h1 class="text-center"><strong>{{ project.name }}</strong></h1>
    </div>
  </header>

  <div class="container mt-4">
  <div class="project-detail-content">
    <div class="row">
      <div class="col-12 col-md-10">
        <div class="card border-light project-detail-card">
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">{{ project.description }}</p>

            <h5 class="card-title">Details</h5>
            <p class="card-text"><strong>Start Date:</strong> {{ project.start_date }}</p>
            <p class="card-text"><strong>Deadline:</strong> {{ project.deadline }}</p>
            <p class="card-text">
              <strong>Status:</strong>
              <span class="status-button-project-detail 
                                {% if project.status == 'Completed' %}status-completed
                                {% elif project.status == 'Overdue' %}status-overdue
                                {% else %}status-pending
                                {% endif %}">
                                {{ project.status }}
                            </span>
            </p>

            <h5 class="card-title">Team</h5>
            {% if project.teams %}
              <ul>
                {% for team in project.teams.all %}
                  <a href="{% url 'tasks:teams-detail' pk=team.id %}">
                    <li>{{ team.name }}</li>
                  </a>
                {% endfor %}
              </ul>
            {% else %}
              <p>No team assigned</p>
            {% endif %}

            <h5 class="card-title">Assignees</h5>
            {% if project.assignees.all %}
              <ul>
                {% for worker in project.assignees.all %}
                  <a href="{% url 'tasks:worker-detail' pk=worker.id %}">
                    <li>{{ worker.get_full_name }} (Team: {{ worker.team.name }})</li>
                  </a>
                {% endfor %}
              </ul>
            {% else %}
              <p>No assignees assigned to this project</p>
            {% endif %}
          </div>
          {% if user in project.assignees.all or user == project.creator %}
            <div class="card-footer">
            <a href="{% url 'tasks:projects-update' pk=project.id %}" class="btn btn-info">Edit</a>

            <form action="{% url 'tasks:projects-delete' pk=project.id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>

            <form action="{% url 'tasks:projects-update' pk=project.id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="status" value="{% if project.is_completed %}False{% else %}True{% endif %}">
              {% if project.is_completed %}
                <button type="submit" class="btn btn-warning">Mark as Pending{% else %}
                <button type="submit" class="btn btn-success">Mark as Completed{% endif %}
              </button>
            </form>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  <!-- Include specific JS for project_detail if needed -->
{% endblock javascripts %}
