{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Tasks List {% endblock %}
{% block body_class %} tasks-list {% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
  <header>
    <div class="page-header-tasks-list">
      <div class="mask-tasks-list"></div>
      <h1>Tasks List</h1>
    </div>
  </header>

  <div class="container mt-5">
    <!-- Search Form -->
    <form method="get" action="{% url 'tasks:mytasks-list' %}">
      <div class="row">
        <div class="col-md-4 mb-3">
          {{ search_form.name.label_tag }} {{ search_form.name }}
        </div>
        <div class="col-md-4 mb-3">
          {{ search_form.tasktype.label_tag }} {{ search_form.tasktype }}
        </div>
        <div class="col-md-4 mb-3">
          {{ search_form.status.label_tag }} {{ search_form.status }}
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for task in tasks %}
        {% if request.user in task.assignees.all %}
          <div class="col">
            <div class="card-tasks-list h-100">
              {% if task.status == "Pending" %}
                <img src="{% static 'assets/img/istockphoto-1327437190-612x612.jpg' %}" class="card-tasks-list-img-top"
                     alt="Task Image">
              {% elif task.status == "Overdue" %}
                <img src="{% static 'assets/img/6117066.png' %}"
                     class="card-tasks-list-img-top"
                     alt="Task Image">
              {% else %}
                <img src="{% static 'assets/img/task-complete-icon-2048x2048-w9dgm0at.png' %}" class="card-tasks-list-img-top"
                     alt="Task Image">
              {% endif %}
              <div class="card-tasks-list-body">
                <h5 class="card-tasks-list-title templatemo-text-orange">{{ task.name }}</h5>
                <span class="card-tasks-list-text">
                <small class="text-muted">{{ task.category }}</small>
              </span>
                <p class="card-tasks-list-text mt-3">{{ task.description }}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  {% if task.status == "Pending" %}
                    <div class="task-status text-warning">
                      Days Remaining: <span>{{ task.days_remaining }}</span>
                    </div>
                  {% elif task.status == "Completed" %}
                    <div class="task-status text-success">
                      Status: Completed
                    </div>
                  {% elif task.status == "Overdue" %}
                    <div class="task-status text-danger"><span>{{ task.days_remaining }}</span>
                    </div>
                  {% else %}
                    <div class="task-status text-muted">
                      Status: Not Available
                    </div>
                  {% endif %}
                </li>
              </ul>
              <div class="card-tasks-list-body">
                <a href="{% url 'tasks:tasks-detail' pk=task.id %}" class="btn btn-primary btn-sm">Read More</a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}
