{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Update Task{% endblock %}

{% block body_class %}task-update{% endblock %}

{% block stylesheets %}
  <style>
      .status-button {
          display: inline-block;
          padding: 0.5rem 1rem;
          border-radius: 4px;
          font-weight: bold;
          color: white;
          text-align: center;
          text-decoration: none;
      }
  </style>
{% endblock stylesheets %}

{% block content %}
  <header>
    <div class="page-header-task-update">
      <h1 class="text-center"><strong>Update Task</strong></h1>
    </div>
  </header>

  <div class="container mt-4">
    <div class="task-update-content">
      <div class="row">
        <div class="col-12 col-md-10">
          <div class="card border-light task-update-card">
            <div class="card-body-task-update">
              <form method="post" action="{% url 'tasks:tasks-update' task.id %}">
                {% csrf_token %}
                <div class="form-group-task-update">
                  <label for="name">Task Name</label>
                  <input type="text" id="name" name="name" class="form-control-task-update" value="{{ task.name }}">
                </div>
                <div class="form-group-task-update">
                  <label for="description">Description</label>
                  <textarea id="description" name="description" class="form-control-task-update"
                            rows="4">{{ task.description }}</textarea>
                </div>
                <div class="form-group-task-update">
                  <label for="deadline">Deadline</label>
                  <input type="datetime-local" id="deadline" name="deadline" class="form-control-task-update"
                         value="{{ task.deadline|date:'Y-m-d\TH:i' }}">
                </div>
                <div class="form-group-task-update">
                  <label for="priority">Priority</label>
                  <select id="priority" name="priority" class="form-control-task-update">
                    <option value="urgent" {% if task.priority == "urgent" %}selected{% endif %}>Urgent</option>
                    <option value="high" {% if task.priority == "high" %}selected{% endif %}>High</option>
                    <option value="medium" {% if task.priority == "medium" %}selected{% endif %}>Medium</option>
                    <option value="low" {% if task.priority == "low" %}selected{% endif %}>Low</option>
                  </select>
                </div>
                <div class="form-group-task-update">
                  <label for="task_type">Task Type</label>
                  <select id="task_type" name="task_type" class="form-control-task-update">
                    {% for type in task_types %}
                      <option value="{{ type.id }}"
                              {% if task.task_type.id == type.id %}selected{% endif %}>{{ type.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group-task-update">
                  <label for="assignees">Assignees</label>
                  {{ form.assignees }}
                </div>
                <button type="submit" class="btn-task-update btn-task-update-primary">Save Changes</button>
              </form>

              <!-- Form to change the status -->
              <form action="{% url 'tasks:tasks-update' pk=task.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="status" value="{% if task.is_completed %}False{% else %}True{% endif %}">
                <button type="submit" class="btn-task-update btn-task-update-success">
                  {% if task.is_completed %}Mark as Pending{% else %}Mark as Completed{% endif %}
                </button>
              </form>
              <form action="{% url 'tasks:tasks-update' pk=task.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="status" value="Pending">
                <button type="submit" class="btn-task-update btn-task-update-warning">
                  Mark as Pending
                </button>
              </form>
            </div>

            <div class="card-footer">
              <a href="{% url 'tasks:tasks-detail' task.id %}" class="btn-task-update btn-task-update-secondary">Back to
                Task Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  <!-- Include specific JS for task_update if needed -->
{% endblock javascripts %}
