{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Task Detail{% endblock %}

{% block body_class %}task-detail{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
  <header>
    <div class="page-header-task-detail">
      <h1 class="text-center"><strong>{{ task.name }}</strong></h1>
    </div>
  </header>

  <div class="container mt-4">
    <div class="task-detail-content">
      <div class="row">
        <div class="col-12 col-md-10">
          <div class="card border-light task-detail-card">
            <div class="card-body">
              <h5 class="card-title">Description</h5>
              <p class="card-text">{{ task.description }}</p>

              <h5 class="card-title">Details</h5>
              <p class="card-text"><strong>Deadline:</strong> {{ task.deadline }}</p>
              <p class="card-text"><strong>Priority:</strong> {{ task.get_priority_display }}</p>
              <p class="card-text">
                <strong>Status:</strong>
                <span class="status-button-task-detail 
                                {% if task.status == 'Completed' %}status-completed
                                {% elif task.status == 'Overdue' %}status-overdue
                                {% else %}status-pending
                                {% endif %}">
                                {{ task.status }}
                            </span>
              </p>
              <p class="card-text"><strong>Task Type:</strong> {{ task.task_type.name }}</p>

              <h5 class="card-title">Assignees</h5>
              {% if task.assignees.all %}
                {% for assignee in task.assignees.all %}
                  <a href="{% url 'tasks:worker-detail' pk=assignee.pk %}">
                    <li>{{ assignee.get_full_name }}</li>
                  </a>
                {% endfor %}
              {% else %}
                <p>No assignees</p>
              {% endif %}
              <h5 class="card-title">Teams</h5>
              {% if task.team %}
                <a href="{% url 'tasks:teams-detail' pk=task.team.pk %}">
                  <li>{{ task.team.name }}</li>
                </a>
              {% else %}
                <p>No team</p>
              {% endif %}
            </div>
            <h5 class="card-title">Project</h5>
            {% if task.project %}
              <ul>
                <a href="{% url 'tasks:projects-detail' pk=task.project.pk %}">
                  <li>{{ task.project.name }}</li>
                </a>
              </ul>
            {% else %}
              <p>No project</p>
            {% endif %}
            <div class="card-footer">
              {% if user in task.assignees.all or user == task.creator %}
                <a href="{% url 'tasks:tasks-update' pk=task.id %}" class="btn btn-info">Edit</a>

                <form action="{% url 'tasks:tasks-update' pk=task.id %}" method="post" style="display:inline;">
                  {% csrf_token %}
                  <input type="hidden" name="status" value="{% if task.is_completed %}False{% else %}True{% endif %}">
                  {% if task.is_completed %}
                    <button type="submit" class="btn btn-warning">Mark as Pending</button>
                  {% else %}
                    <button type="submit" class="btn btn-success">Mark as Completed</button>
                  {% endif %}
                </form>

                <!-- Delete Button -->
                <form action="{% url 'tasks:tasks-delete' pk=task.id %}" method="post" style="display:inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              {% endif %}

              <a href="{% url 'tasks:tasks-list' %}" class="btn btn-secondary">Back to List</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  <!-- Include specific JS for task_detail if needed -->
{% endblock javascripts %}
