{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Team List {% endblock %}
{% block body_class %} team-list {% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
  <header>
    <div class="page-header-team-list">
      <div class="mask-team-list"></div>
      <h1>Team List</h1>
    </div>
  </header>

  <div class="container mt-5">
    <!-- Search Form -->
    <form method="get" action="{% url 'tasks:teams-list' %}">
      <div class="row">
        <div class="col-md-4 mb-3">
          {{ search_form.name.label_tag }} {{ search_form.name }}
        </div>
        <div class="col-md-4 mb-3">
          {{ search_form.start_date.label_tag }} {{ search_form.start_date }}
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for team in teams %}
        <div class="col">
          <div class="card-team-list h-100">
            <img src="{% static 'assets/img/team-icon-symbol-sign-vector.jpg' %}" class="card-team-list-img-top"
                 alt="Team Image">
            <div class="card-team-list-body">
              <h5 class="card-team-list-title templatemo-text-orange">{{ team.name }}</h5>
              <p class="card-team-list-text mt-3">{{ team.description }}</p>
              <p class="card-team-list-text">
                <small class="text-muted">Members: {{ team.members.count }}</small>
              </p>
            </div>
            <div class="card-team-list-body">
              <a href="{% url 'tasks:teams-detail' pk=team.id %}" class="btn btn-primary btn-sm">View
                Details</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  <!-- Include specific JS for team_list if needed -->
{% endblock javascripts %}
