{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Team Detail{% endblock %}

{% block body_class %}team-detail{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
  <header>
    <div class="page-header-team-detail">
      <h1 class="text-center"><strong>{{ team.name }}</strong></h1>
    </div>
  </header>

  <div class="container mt-4">
    <div class="team-detail-content">
      <div class="row">
        <div class="col-12 col-md-10">
          <div class="card border-light team-detail-card">
            <div class="card-body">
              <h5 class="card-title">Team Members</h5>
              {% if team.members.all %}
                <ul>
                  {% for member in team.members.all %}
                    <a href="{% url 'tasks:worker-detail' pk=member.id %}">
                      <li class="team-member">{{ member.get_full_name }} ({{ member.position }})</li>
                    </a>
                  {% endfor %}
                </ul>
              {% else %}
                <p>No members in this team</p>
              {% endif %}

              <h5 class="card-title">Tasks</h5>
              {% if team.task_set.all %}
                <ul>
                  {% for task in team.task_set.all %}
                    <a href="{% url 'tasks:tasks-detail' pk=task.id %}">
                      <li class="team-member">{{ task.name }} - {{ task.priority }} - {{ task.deadline }}</li>
                    </a>
                  {% endfor %}
                </ul>
              {% else %}
                <p>No tasks assigned to this team</p>
              {% endif %}
              <h5 class="card-title">Projects</h5>
              {% if team.projects.all %}
                <ul>
                  {% for project in team.projects.all %}
                    <a href="{% url 'tasks:projects-detail' pk=project.id %}">
                      <li>{{ project.name }}</li>
                    </a>
                  {% endfor %}
                </ul>
              {% else %}
                <p>No tasks assigned to this team</p>
              {% endif %}
            </div>
            {% if request.user == team.created_by %}
              <div class="card-footer">
                <a href="{% url "tasks:teams-update" pk=team.id %}" class="btn btn-info">Edit</a>

                <form action="{% url 'tasks:teams-delete' pk=team.id %}" method="post" style="display:inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>

              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  <!-- Include specific JS for team_detail if needed -->
{% endblock javascripts %}
