{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Worker Detail {% endblock %}

{% block body_class %} worker-detail {% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
  <header>
    <div class="worker-detail-header" >
      <div class="mask"></div>
      <h1 class="text-center text-white"><strong>{{ worker.get_full_name }}</strong></h1>
    </div>
  </header>

  <div class="container mt-4">
    <div class="worker-detail-content">
      <div class="col-12">
        <div class="col-12 col-md-12">
          <div class="card border-light">
            {% if request.user == worker %}
              <a href="{% url 'tasks:workers-update' pk=worker.id %}" class="edit-button">Edit Worker</a>
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">Details</h5>
              <p class="text-gradient-worker"><strong>Name:</strong> {{ worker.get_full_name }}</p>
              <p class="text-gradient-worker"><strong>Email:</strong> {{ worker.email }}</p>
              <p class="text-gradient-worker"><strong>Position:</strong> {{ worker.position }}</p>
              <p class="text-gradient-worker"><strong>Tasks Assigned:</strong></p>
              <div class="tasks-assigned">
                {% if worker.task.all %}
                  <ul class="list-unstyled">
                    {% for task in worker.task.all %}
                      <li class="task-item">
                        <a href="{% url 'tasks:tasks-detail' pk=task.id %}">{{ task.name }}</a> -
                        {% if task.status == "Pending" %}
                          <span class="task-status text-warning">
            Pending (Days Remaining: <span>{{ task.days_remaining }}</span>)
          </span>
                        {% elif task.status == "Completed" %}
                          <span class="task-status text-success">
            Completed
          </span>
                        {% elif task.status == "Overdue" %}
                          <span class="task-status text-danger">
            Overdue
          </span>
                        {% else %}
                          <span class="task-status text-muted">
            Status: Not Available
          </span>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <p>No tasks assigned</p>
                {% endif %}
              </div>

              <div class="card-footer">
                <a href="{% url 'tasks:workers-list' %}" class="btn btn-secondary">Back to workers list</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  <script src="{{ ASSETS_ROOT }}/js/your-custom-scripts.js"></script>
{% endblock javascripts %}
